
@{
    ViewBag.Title = "Update_Employee";
    var data = ViewBag.emplist as Payroll.Models.Employee;
    var validate_emp = ViewBag.valid_leaves as Payroll.Models.Employee;
}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="success-message">
                    @Html.Partial("~/Views/Shared/Update_Alert.cshtml")
                </div>

                <form action="#">
                    <div class="card-box">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title">Personal details</h4>
                                <div class="form-group Employee_Name">
                                    <label>Employee Name:</label>
                                    <input type="text" class="form-control" id="Employee_Name" value="@data.Name">
                                    <span class="error"><i class="fa fa-exclamation-circle"></i>&nbsp; Enter Employee Name</span>
                                </div>

                                <div class="form-group Father_Name">
                                    <label>Father Name:</label>
                                    <input type="text" class="form-control" id="Father_Name" value="@data.Father_Name">
                                    <span class="error"><i class="fa fa-exclamation-circle"></i>&nbsp; Enter Father Name</span>
                                </div>

                                <div class="form-group Address">
                                    <label>Address:</label>
                                    <input type="text" class="form-control" id="Address" value="@data.address">
                                    <span class="error"><i class="fa fa-exclamation-circle"></i>&nbsp; Enter Address</span>
                                </div>

                                <div class="form-group CNIC">
                                    <label>CNIC:</label>
                                    <input type="number" class="form-control" id="CNIC" value="@data.CNIC">
                                    <span class="error"><i class="fa fa-exclamation-circle"></i>&nbsp; Enter CNIC</span>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group Phone">
                                            <label>Phone:</label>
                                            <input type="text" class="form-control" id="Phone" value="@data.Phone">
                                            <span class="error"><i class="fa fa-exclamation-circle"></i>&nbsp; Enter Phone</span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group Email">
                                            <label>Email:</label>
                                            <input type="text" class="form-control" id="Email" value="@data.Email">
                                            <span class="Emailvalidate"><i class="fa fa-exclamation-circle"></i>&nbsp;E-Mail is not valid</span>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group DOB">
                                            <label>Date of Birth:</label>
                                            <input type="date" class="form-control" id="DOB" value="@data.Date_of_Birth.ToString("yyyy-MM-dd")">
                                            <span class="error"><i class="fa fa-exclamation-circle"></i>&nbsp; Enter Date of birth</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group Gender">
                                            <label>Gender</label>
                                            <select class="select" id="Gender">
                                                <option value="0">Select</option>
                                                @if (data.Gender == "M")
                                                {
                                                    <option value="M" selected>Male</option>
                                                    <option value="F">Female</option>
                                                }
                                                else
                                                {
                                                    <option value="M">Male</option>
                                                    <option value="F" selected>Female</option>
                                                }
                                            </select>
                                            <span class="error"><i class="fa fa-exclamation-circle"></i>&nbsp; Enter Gender</span>
                                        </div>

                                        @*<div class="form-group Gender">
                                                <label>Gender:</label>
                                                <input type="text" class="form-control" id="Gender">
                                                <span class="error"><i class="fa fa-exclamation-circle"></i>&nbsp; Enter Date of Gender</span>
                                            </div>*@

                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group DOJ">
                                            <label>Date of Joining:</label>
                                            <input type="date" class="form-control" id="DOJ" value="@data.Date_of_Joining.ToString("yyyy-MM-dd")">
                                            <span class="error"><i class="fa fa-exclamation-circle"></i>&nbsp; Enter Date of Joining</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4 class="card-title">Offical details</h4>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group Designation">
                                            <label>Designation:</label>
                                            <input type="text" class="form-control" id="Designation" value="@data.Designation">
                                            <span class="error"><i class="fa fa-exclamation-circle"></i>&nbsp; Enter Designation</span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group Job_type">
                                            <label>Job type:</label>
                                            <select class="select" id="Job_type">
                                                @if (data.Job_type == null || data.Job_type == "")
                                                {
                                                    <option value="0" selected>Select</option>
                                                    <option value="C">Contract</option>
                                                    <option value="F">Full-Time</option>
                                                }
                                                else if (data.Job_type == "C")
                                                {
                                                    <option value="0">Select</option>
                                                    <option value="C" selected>Contract</option>
                                                    <option value="F">Full-Time</option>
                                                }
                                                else
                                                {
                                                    <option value="0">Select</option>
                                                    <option value="C">Contract</option>
                                                    <option value="F" selected>Full-Time</option>
                                                }

                                            </select>
                                        </div>
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group Time_In">
                                            <label>Time In:</label>
                                            <input type="time" class="form-control" id="Time_In" value="@data.Time_In">
                                            <span class="error"><i class="fa fa-exclamation-circle"></i>&nbsp; Enter Time In</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group Time_Out">
                                            <label>Time Out:</label>
                                            <input type="time" class="form-control" id="Time_Out" value="@data.Time_Out">
                                            <span class="error"><i class="fa fa-exclamation-circle"></i>&nbsp; Enter Time Out</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group Grace_Time_In">
                                            <label>Grace Time In:</label>
                                            <input type="time" class="form-control" id="Grace_Time_In" value="@data.Grace_Time_IN">
                                            <span class="error"><i class="fa fa-exclamation-circle"></i>&nbsp; Enter Time In</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group Grace_Time_Out">
                                            <label>Grace Time Out:</label>
                                            <input type="time" class="form-control" id="Grace_Time_Out" value="@data.Grace_Time_Out">
                                            <span class="error"><i class="fa fa-exclamation-circle"></i>&nbsp; Enter Time Out</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group Adv_Staff">
                                            <label>Advance Staff:</label>
                                            <input type="text" class="form-control" id="Adv_Staff" value="@data.Adv_Staff">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group I_Tax">
                                            <label>I Tax:</label>
                                            <input type="text" class="form-control" id="I_Tax" value="@data.I_tax">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group Telephone">
                                            <label>Telephone:</label>
                                            <input type="text" class="form-control" id="Telephone" value="@data.Telephone">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group EOBI">
                                            <label>EOBI:</label>
                                            <input type="text" class="form-control" id="EOBI" value="@data.EOBI">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group Overtime">
                                            <label>Overtime Rate:</label>
                                            <input type="text" class="form-control" id="Overtime" value="@data.Overtime_Rate">
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group Overtime">
                                            <label>Overtime Day:</label>
                                            <input type="text" class="form-control" id="Overtime_day" value="@data.Overtime_day">
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group Overtime">
                                            <label>Days:</label>
                                            <input type="text" class="form-control" id="Days" value="@data.Days">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group Gross_salary">
                                            <label>Salary:</label>
                                            <input type="text" class="form-control" id="Gross_salary" value="@data.Gross_Salary">
                                            <span class="error"><i class="fa fa-exclamation-circle"></i>&nbsp; Enter Salary</span>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group Leaves">
                                            <label>Leaves:</label>
                                            <input type="text" class="form-control" id="Leaves" value="@data.Leaves">
                                            <span class="error"><i class="fa fa-exclamation-circle"></i>&nbsp; Your leaves are not greater than Total leaves</span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Total Leaves:</label>
                                            <input type="text" class="form-control" id="T_Leaves" value="@data.T_Leaves">
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group Status">
                                            <label>Status:</label>
                                            <select class="select" id="Status">
                                                <option value="0">Select</option>
                                                @if (data.Status == "Y")
                                                {
                                                    <option value="Y" selected>Active</option>
                                                    <option value="N">InActive</option>
                                                }
                                                else
                                                {
                                                    <option value="Y">Active</option>
                                                    <option value="N" selected>InActive</option>
                                                }
                                            </select>
                                            <span class="error"><i class="fa fa-exclamation-circle"></i>&nbsp; Enter Status</span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                            <input type="hidden" id="validate_leaves" value="@validate_emp.Leaves" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-form-label col-md-2">No. Days:</label>
                                    <div class="col-md-6">
                                        <div class="checkbox">
                                            @if (data.Monday_WD == "Y")
                                            {
                                                <label>
                                                    <input type="checkbox" name="checkbox" id="Monday" checked /> Monday
                                                </label>
                                            }
                                            else
                                            {
                                                <label>
                                                    <input type="checkbox" name="checkbox" id="Monday" /> Monday
                                                </label>
                                            }
                                        </div>
                                        <div class="checkbox">
                                            @if (data.Tuesday_WD == "Y")
                                            {
                                                <label>
                                                    <input type="checkbox" name="checkbox" id="Tuesday" checked> Tuesday
                                                </label>
                                            }
                                            else
                                            {
                                                <label>
                                                    <input type="checkbox" name="checkbox" id="Tuesday"> Tuesday
                                                </label>
                                            }
                                        </div>
                                        <div class="checkbox">
                                            @if (data.Wednesday_WD == "Y")
                                            {
                                                <label>
                                                    <input type="checkbox" name="checkbox" id="Wednesday" checked> Wednesday
                                                </label>
                                            }
                                            else
                                            {
                                                <label>
                                                    <input type="checkbox" name="checkbox" id="Wednesday"> Wednesday
                                                </label>
                                            }


                                        </div>
                                        <div class="checkbox">
                                            @if (data.Thursday_WD == "Y")
                                            {
                                                <label>
                                                    <input type="checkbox" name="checkbox" id="Thursday" checked> Thursday
                                                </label>
                                            }
                                            else
                                            {
                                                <label>
                                                    <input type="checkbox" name="checkbox" id="Thursday"> Thursday
                                                </label>
                                            }

                                        </div>
                                        <div class="checkbox">
                                            @if (data.Friday_WD == "Y")
                                            {
                                                <label>
                                                    <input type="checkbox" name="checkbox" id="Friday" checked> Friday
                                                </label>
                                            }
                                            else
                                            {
                                                <label>
                                                    <input type="checkbox" name="checkbox" id="Friday"> Friday
                                                </label>
                                            }
                                        </div>
                                        <div class="checkbox">
                                            @if (data.Saturday_WD == "Y")
                                            {
                                                <label>
                                                    <input type="checkbox" name="checkbox" id="Saturday" checked> Saturday
                                                </label>
                                            }
                                            else
                                            {
                                                <label>
                                                    <input type="checkbox" name="checkbox" id="Saturday"> Saturday
                                                </label>
                                            }
                                        </div>
                                        <div class="checkbox">
                                            @if (data.Sunday_WD == "Y")
                                            {
                                                <label>
                                                    <input type="checkbox" name="checkbox" id="Sunday" checked> Sunday
                                                </label>
                                            }
                                            else
                                            {
                                                <label>
                                                    <input type="checkbox" name="checkbox" id="Sunday"> Sunday
                                                </label>
                                            }


                                        </div>



                                    </div>

                                    
                                </div>

                            </div>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    span.error {
        display: none;
        color: #d93025;
        font-size: 80%;
        margin-top: 3px;
    }

    .Emailvalidate {
        display: none;
        color: #d93025;
        font-size: 80%;
        margin-top: 3px;
    }
</style>

<script src="~/Content/assets/js/Jquery3.6.1.js"></script>
<script>
    $(document).ready(function () {

        $('#submit').click(function (e) {
            e.preventDefault();
            var isAllValid = true;

            if (!($('#Employee_Name').val().trim() != '')) {
                isAllValid = false;
                $('.Employee_Name .error').css('display', 'block');
            }
            else {
                $('.Employee_Name .error').css('display', 'none');
            }

            if (!($('#Father_Name').val().trim() != '')) {
                isAllValid = false;
                $('.Father_Name .error').css('display', 'block');
            }
            else {
                $('.Father_Name .error').css('display', 'none');
            }


            if (!($('#Address').val().trim() != '')) {
                isAllValid = false;
                $('.Address .error').css('display', 'block');
            }
            else {
                $('.Address .error').css('display', 'none');
            }

            if (!($('#CNIC').val().trim() != '')) {
                isAllValid = false;
                $('.CNIC .error').css('display', 'block');
            }
            else {
                $('.CNIC .error').css('display', 'none');
            }

            if (!($('#Phone').val().trim() != '')) {
                isAllValid = false;
                $('.Phone .error').css('display', 'block');
            }
            else {
                $('.Phone .error').css('display', 'none');
            }

            

            if (!($('#DOJ').val().trim() != '')) {
                isAllValid = false;
                $('.DOJ .error').css('display', 'block');
            }
            else {
                $('.DOJ .error').css('display', 'none');
            }
            if (!($('#DOB').val().trim() != '')) {
                isAllValid = false;
                $('.DOB .error').css('display', 'block');
            }
            else {
                $('.DOB .error').css('display', 'none');
            }

            if (!($('#Gender').val().trim() != '0')) {
                isAllValid = false;
                $('.Gender .error').css('display', 'block');
            }
            else {
                $('.Gender .error').css('display', 'none');
            }

            if ($('#Email').val().trim() != '') {
                var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
                var emailval = $('#Email').val();
                if (emailReg.test(emailval)) {
                    $('.Email .Emailvalidate').css('display', 'none');
                }
                else {
                    isAllValid = false;
                    $('.Email .Emailvalidate').css('display', 'block');
                }

            }
            else {
                $('.Email .Emailvalidate').css('display', 'none');
            }

            if (!($('#Designation').val().trim() != '')) {
                isAllValid = false;
                $('.Designation .error').css('display', 'block');
            }
            else {
                $('.Designation .error').css('display', 'none');
            }


            if (!($('#Time_In').val().trim() != '')) {
                isAllValid = false;
                $('.Time_In .error').css('display', 'block');
            }
            else {
                $('.Time_In .error').css('display', 'none');
            }


            if (!($('#Time_Out').val().trim() != '')) {
                isAllValid = false;
                $('.Time_Out .error').css('display', 'block');
            }
            else {
                $('.Time_Out .error').css('display', 'none');
            }

            if (!($('#Grace_Time_In').val().trim() != '')) {
                isAllValid = false;
                $('.Grace_Time_In .error').css('display', 'block');
            }
            else {
                $('.Grace_Time_In .error').css('display', 'none');
            }

            if (!($('#Grace_Time_Out').val().trim() != '')) {
                isAllValid = false;
                $('.Grace_Time_Out .error').css('display', 'block');
            }
            else {
                $('.Grace_Time_Out .error').css('display', 'none');
            }

            if (!($('#Gross_salary').val().trim() != '')) {
                isAllValid = false;
                $('.Gross_salary .error').css('display', 'block');
            }
            else {
                $('.Gross_salary .error').css('display', 'none');
            }

            var Monday = '';
            var tuesday = '';
            var wednesday = '';
            var thursday = '';
            var friday = '';
            var saturday = '';
            var sunday = '';

            if ($('#Monday').prop("checked") == true) {
                Monday = 'Y';
            }
            else {
                Monday = 'N';
            }

            if ($('#Tuesday').prop("checked") == true) {
                tuesday = 'Y';
            }
            else {
                tuesday = 'N';
            }

            if ($('#Wednesday').prop("checked") == true) {
                wednesday = 'Y';
            }
            else {
                wednesday = 'N';
            }

            if ($('#Thursday').prop("checked") == true) {
                thursday = 'Y';
            }
            else {
                thursday = 'N';
            }

            if ($('#Friday').prop("checked") == true) {
                friday = 'Y';
            }
            else {
                friday = 'N';
            }

            if ($('#Saturday').prop("checked") == true) {
                saturday = 'Y';
            }
            else {
                saturday = 'N';
            }

            if ($('#Sunday').prop("checked") == true) {
                sunday = 'Y';
            }
            else {
                sunday = 'N';
            }
            if (!($('#Status').val().trim() != '0')) {
                isAllValid = false;
                $('.Status .error').css('display', 'block');
            }
            else {
                $('.Status .error').css('display', 'none');
            }

            var leaves = $('#Leaves').val();
            var validate_leaves = $('#validate_leaves').val();
            var total_leaves = $('#T_Leaves').val();
            var get_leaves = parseInt(leaves)+ parseInt(validate_leaves);

            if (get_leaves >= total_leaves) {
                isAllValid = false;
                $('.Leaves .error').css('display', 'block');
            }else
            {
                $('.Leaves .error').css('display', 'none');
            }
            

            if (isAllValid) {
                $('#submit').prop('disabled', true);

                var data = {
                    Emp_id : @data.Emp_id,
                    Name: $('#Employee_Name').val(),
                    Father_Name: $('#Father_Name').val(),
                    CNIC: $('#CNIC').val(),
                    address: $('#Address').val(),
                    Phone: $('#Phone').val(),
                    Email: $('#Email').val(),
                    Date_of_Birth: $('#DOB').val(),
                    Date_of_Joining: $('#DOJ').val(),
                    Gender: $('#Gender').val(),
                    Designation: $('#Designation').val(),
                    Gross_Salary: $('#Gross_salary').val(),
                    Time_In: $('#Time_In').val(),
                    Time_Out: $('#Time_Out').val(),
                    Grace_Time_IN: $('#Grace_Time_In').val(),
                    Grace_Time_Out: $('#Grace_Time_Out').val(),
                    Overtime_day: $('#Overtime_day').val(),
                    Overtime_Rate: $('#Overtime').val(),
                    Days: $('#Days').val(),
                    Leaves:$('#Leaves').val(),
                    T_Leaves :$('#T_Leaves').val(),
                    Job_type: $('#Job_type').val(),
                    Adv_Staff: $('#Adv_Staff').val(),
                    I_Tax: $('#I_Tax').val(),
                    Telephone: $('#Telephone').val(),
                    EOBI: $('#EOBI').val(),
                    Monday_WD: Monday,
                    Tuesday_WD: tuesday,
                    Wednesday_WD: wednesday,
                    Thursday_WD: thursday,
                    Friday_WD: friday,
                    Saturday_WD: saturday,
                    Sunday_WD: sunday,
                    Status: $('#Status').val(),
                }

                debugger
                $.ajax({
                    type: 'POST',
                    url: '/Employee_list/Update_Employee',
                    data: {
                        'Emp_id': data.Emp_id,
                        'Name': data.Name,
                        'Father_Name': data.Father_Name,
                        'CNIC': data.CNIC,
                        'address': data.address,
                        'Phone': data.Phone,
                        'Email': data.Email,
                        'Date_of_Birth': data.Date_of_Birth,
                        'Date_of_Joining': data.Date_of_Joining,
                        'Gender': data.Gender,
                        'Designation': data.Designation,
                        'Gross_Salary': data.Gross_Salary,
                        'Time_In': data.Time_In,
                        'Time_Out': data.Time_Out,
                        'Grace_Time_IN': data.Grace_Time_IN,
                        'Grace_Time_Out': data.Grace_Time_Out,
                        'Overtime_Rate': data.Overtime_Rate,
                        'Overtime_day': data.Overtime_day,
                        'Days': data.Days,
                        'Leaves': data.Leaves,
                        'T_Leaves' : data.T_Leaves,
                        'Job_type': data.Job_type,
                        'Adv_Staff': data.Adv_Staff,
                        'I_Tax': data.I_Tax,
                        'Telephone': data.Telephone,
                        'EOBI': data.EOBI,
                        'Monday_WD': data.Monday_WD,
                        'Tuesday_WD': data.Tuesday_WD,
                        'Wednesday_WD': data.Wednesday_WD,
                        'Thursday_WD': data.Thursday_WD,
                        'Friday_WD': data.Friday_WD,
                        'Saturday_WD': data.Saturday_WD,
                        'Sunday_WD': data.Sunday_WD,
                        'Status': data.Status
                    }
                    ,
                    success: function (resp) {
                        if (resp.status) {
                            $('.success-message').delay(1000).fadeIn();
                            $('.success-message').delay(1000).fadeOut();
                            $('#submit').prop('disabled', false);

                        }
                    }
                });
            }


        });


    });
</script>
<style>
    .success-message {
        display: none;
    }
</style>